{% extends 'base.html' %}
{% block contents %}

<!-- <h4 class="mt-5 mb-4 border-bottom"></h4> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
        <div class="arrow_box">
            <p><span class="test">{{result_choice}}</span></p>
        </div>
    </div>
  </div>
    <form  action="{% url 'app_folder:post_page' %}" method="get">
        <div class="text-align : center">
          <button type="submit" name="button" class="btn btn-info">
            よかったことについて
          </button>
        </div>
        {% csrf_token %}
    </form>
    <form  action="{% url 'app_folder:bat_post_page' %}" method="get">
        <div class="text-align : center">
          <button type="submit" name="button" class="btn btn-info">
            ぐち、なやみについて
          </button>
        </div>
         {% csrf_token %}
    </form>
    <form  action="{% url 'app_folder:return_top_page' %}" method="get">
        <div class="text-align : center">
          <button type="submit" name="button" class="btn btn-info">
            なにもない
          </button>
        </div>
        {% csrf_token %}
    </form>
</div>

{% endblock %}