{% extends 'base.html' %}
{% block contents %}

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="arrow_box">

                <p><span class="test">{{result_str}}</span></p>
            </div>
        </div>
    </div>
    <div class="text-align : center">
          <textarea name="text" class="btn btn-info" maxlength="500" style="width:400px; height:100px;" cols="40"
                    rows="8">
          </textarea>
    </div>
    {% if request.session.thing == 'good_thing' %}
    <form action="{% url 'app_folder:good_return_page' %}" method="get">
        {% elif request.session.thing == 'bat_thing' %}
        <form action="{% url 'app_folder:bat_return_page' %}" method="get">
            {% endif %}
            <div class="text-align : center">
                <button type="submit" name="button" class="btn btn-info">
                    OK
                </button>
            </div>
            {% csrf_token %}
        </form>
</div>

{% endblock %}