{% extends 'base.html' %}
{% block contents %}

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
        <div class="arrow_box">
            <p><span class="test">{{result_return}}</span></p></p>
        </div>
    </div>
  </div>
    <form  action="{% url 'app_folder:next_choice_page' %}" method="get">
        <div class="text-align : center">
          <button type="submit" name="button" class="btn btn-info">
            OK
          </button>
        </div>
        {% csrf_token %}
    </form>
</div>

{% endblock %}