{% extends 'base.html' %}
{% block contents %}

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
        <div class="arrow_box">
            <p><span class="test">何もないのはいい便りだ。またなにかあったら教えてね～</span></p>
        </div>
    </div>
  </div>
    <form  action="{% url 'app_folder:return_top_page' %}" method="post">
        <div class="text-align : center">
          <button type="submit" name="button" class="btn btn-info">
            TOP
          </button>
        </div>
        {% csrf_token %}
    </form>
</div>

{% endblock %}