{% extends 'base.html' %}
{% block contents %}

<form  action="{% url 'app_folder:top_page' %}" method="post">
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="text-left align-bottom">
          <button type="submit" name="button" class="btn btn-info">
            はなす
          </button>
      </div>
    </div>
    </div>
  </div>
</div>
{% csrf_token %}
</form>

{% endblock %}