.arrow_box{
    position:relative;
    width:500px;
    height:100px;
    background:#55D446;
    padding:10px;
    text-align:left;
    border:4px solid #87FF40;
    color:#FFFFFF;
    font-size:18px;
    font-weight:bold;
    border-radius:28px;
    -webkit-border-radius:28px;
    -moz-border-radius:28px;
    text-shadow:2px 1px 0px #053B0A ;
}
.arrow_box:after,.arrow_box:before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    right:100%;
    top:50%;
}
.arrow_box:after{
    border-color: rgba(85, 212, 70, 0);
    border-top-width:10px;
    border-bottom-width:10px;
    border-left-width:10px;
    border-right-width:10px;
    margin-top: -10px;
    border-right-color:#55D446;
}
.arrow_box:before{
    border-color: rgba(135, 255, 64, 0);
    border-top-width:14px;
    border-bottom-width:14px;
    border-left-width:14px;
    border-right-width:14px;
    margin-top: -14px;
    margin-right: 4px;
    border-right-color:#87FF40;
}

body{
 font-family: 'Kosugi Maru', sans-serif;
  background-image: url("../images/bg_natural_mori.jpg");
 }
