<!DOCTYPE html>

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load static %}

<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type='text/css' href="{% static 'css/new.css'%}">
    <link rel="stylesheet" href="https://cccabinet.jpn.org/bootstrap4/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="../../static/js/jquery.textillate.js"></script>
    <script src="../../static/js/jquery.lettering.js"></script>

    <script>
$(function () {
    $('.test').textillate({
      loop: false,
      minDisplayTime: 1000,
      initialDelay: 0,
      autoStart: true,

      in: {
        effect: 'bounceIn',
        delayScale: 1.5,
        delay: 50,
        sync: false,
        shuffle: false
      },

      out: {
        effect: 'pulse',
        delayScale: 1.5,
        delay: 50,
        sync: false,
        shuffle: false
      }
    });
   $('#hoge').textillate({
      loop: true,
      minDisplayTime: 3000,
      initialDelay: 2000,
      autoStart: true,

      in: {
        effect: 'fadeIn',
        delayScale: 1.5,
        delay: 20,
        sync: false,
        shuffle: false
      },

      out: {
        effect: 'fadeOut',
        delayScale: 1.5,
        delay: 50,
        sync: false,
        shuffle: false
      }
    });
})
    </script>

    <title> なまけもの </title>

    {% block extra_css %}{% endblock %}

</head>

<body>
<!-- ↓↓１番上 ナビゲーションバー↓↓ -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bs-navbar" style='background-color:darkgreen;'
                 id="bs-navbar">
                <a class="navbar-brand mr-md-2" href="/app_folder/top_page">
                    なまけもののもり
                </a>
                <!-- ↓↓レイアウト調整ダミー↓↓ -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#"> </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> </a></li>
                </ul>
                <!-- ↑↑ダミー↑↑ -->
            </nav>
        </div>
    </div>
</div>

<!-- 「サイドバー」 「コンテンツ本体部分」 -->

<div id="content" class="container-fluid">
    <div class="row flex-xl-nowrap">

        <div id="sidemenu" class="col-2 d-none d-md-block bg-light sidebar align-self-start">

        </div id="sidemenu">

        <!-- ↑↑サイドバー↑↑ -->

        <!-- ↓↓コンテンツ本体↓↓ -->
        <br>
        {% load static %} <img src="{% static 'images/sloth.png' %}" alt="Hi!"/>
        <br/>

        <div class="col-10">
            {% block contents %}
            {% endblock %}
        </div>
        <!-- ↑↑コンテンツ本体↑↑ -->
    </div>
</div>
</div>
</body>
</html>

<!-- サイドバー使用アイコン -->
<!-- 使用できるアイコン一覧： https://voyager-jp.com/blog/javascript/feather/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script>feather.replace()</script>
</div>